.container {
    padding-top: 80px;
}

.left_part {
    padding-left: 45px;
    display: flex;
    flex-direction: column;
}

.left_part a {
    padding-bottom: 45px;
    text-decoration: none;
    color: #0775dc;
}

.subscriptions {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.container {
    display: flex;
    gap: 200px;
}

.precept {
    display: flex;
    position: relative;
    justify-content: center;
    top: 100px;
    color: #0775dc;
}

.preloader {
    display: flex;
    position: absolute;
    justify-items: center;
    top: 100px;
}
.preloader img {
    width: 400px;

}
