.pagination {
  display: flex;
  gap: 7px;

  .page {
    margin-left: 5px;
  }

  .currentPage {
    margin-left: 5px;
    background-color: #0775dc;
    border: 3px solid #0775dc;
    border-radius: 2px;
  }
}

