.repo_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: grey;
  gap: 5px;
  padding-left: 20px;
  border-radius: 5px;
  min-height: 70px;

  a {
    text-decoration: none;
    color: #0775dc;
    font-size: larger;
  }
}

@media screen and (max-width: 1114px) {
  .repo_block {
    width: auto;
  }
}

@media screen and (max-width: 650px) {
  .repo_block {
    a {
      display: flex;
      justify-content: space-around;
    }
    .repo_description {
      display: flex;
      justify-content: space-around;
    }
  }
}